streamlit
pandas
plotly
textblob
python-dotenv
requests
google-generativeai
wordcloud
matplotlib
transformers
torch
streamlit-option-menu
mcp
nest_asyncio
psycopg2-binary
sqlalchemy
pgvector
streamlit-vis-timeline
streamlit-vis-timeline
